[Desktop Entry]
Encoding=UTF-8
Name=Hedera Contrast
Name[de]=Efeu (Kontrast)
Name[ar]=(Contrast) اللبلاب
Name[ca]=Heura (Contrast)
Name[cs]=Břečťan (Contrast)
Name[da]=Vedbend (Contrast)
Name[el]=Κισσός (Contrast)
Name[en]=Ivy (Contrast)
Name[es]=Hiedra (Contrast)
Name[fr]=Lierre (Contrast)
Name[gd]=Eidheann (Contrast)
Name[it]=Edera (Contrast)
Name[ja]=ツタ (Contrast)
Name[la]=Hedera (Contrast)
Name[lu]=Wantergréng (Contrast)
Name[nl]=Klimop (Contrast)
Name[pt]=Hera (Contrast)
Name[ru]=Плющ (Contrast)
Name[sv]=Murgröna (Contrast)
Name[zh]=常春藤 (Contrast)
Type=Service
Icon=plasma
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=SSF
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC-BY-SA_V4
X-KDE-PluginInfo-Name=Hedera Contrast
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://github.com/sixsixfive/Hedera
X-Plasma-MainScript=defaults
