[Desktop Entry]
Encoding=UTF-8
Name=Hedera
Name[ar]=اللبلاب
Name[ca]=Heura
Name[cs]=Břečťan
Name[da]=Vedbend
Name[de]=Efeu
Name[en]=Ivy
Name[el]=Κισσός
Name[es]=Hiedra
Name[fr]=Lierre
Name[gd]=Eidheann
Name[it]=Edera
Name[ja]=ツタ
Name[la]=Hedera
Name[lu]=Wantergréng
Name[nl]=Klimop
Name[pt]=Hera
Name[ru]=Плющ
Name[sv]=Murgröna
Name[zh]=常春藤
Type=Service
Icon=plasma
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=SSF
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC-BY-SA_V4
X-KDE-PluginInfo-Name=Hedera
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://github.com/sixsixfive/Hedera
X-Plasma-MainScript=defaults
