[Desktop Entry]
Name=Hedera 
Name[ar]=اللبلاب
Name[ca]=Heura
Name[cs]=Břečťan
Name[da]=Vedbend
Name[de]=Efeu
Name[en]=Ivy
Name[el]=Κισσός
Name[es]=Hiedra
Name[fr]=Lierre
Name[gd]=Eidheann
Name[it]=Edera
Name[ja]=ツタ
Name[la]=Hedera
Name[lu]=Wantergréng
Name[nl]=Klimop
Name[pt]=Hera
Name[ru]=Плющ
Name[sv]=Murgröna
Name[zh]=常春藤
Icon=image-jpg
X-KDE-PluginInfo-Name=HederaSimple
X-KDE-PluginInfo-Author=SSF
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC-BY-SA_V4
