[Desktop Entry]
Encoding=UTF-8
Name=Hedera (Panel)
Name[ar]=(Panel) اللبلاب
Name[ca]=Heura (Panel) 
Name[cs]=Břečťan (Panel)
Name[da]=Vedbend (Panel)
Name[de]=Efeu (Panel)
Name[en]=Ivy (Panel)
Name[el]=Κισσός (Panel)
Name[es]=Hiedra (Panel)
Name[fr]=Lierre (Panel)
Name[gd]=Eidheann (Panel)
Name[it]=Edera (Panel)
Name[ja]=ツタ (Panel)
Name[la]=Hedera (Panel)
Name[lu]=Wantergréng (Panel)
Name[nl]=Klimop (Panel)
Name[pt]=Hera (Panel)
Name[ru]=Плющ (Panel)
Name[sv]=Murgröna (Panel)
Name[zh]=常春藤 (Panel)
Icon=panel_settings
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasmashell
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Hedera
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=
X-KDE-PluginInfo-EnabledByDefault=true
