[ContrastEffect]
enabled=false
contrast=0.2
#intensity=2.0
saturation=1.7

[Desktop Entry]
Icon=plasma
Name=Hedera
Name[en]=Ivy
Name[ar]=اللبلاب
Name[ca]=Heura
Name[cs]=Břečťan
Name[da]=Vedbend
Name[de]=Efeu
Name[el]=Κισσός
Name[es]=Hiedra
Name[fr]=Lierre
Name[gd]=Eidheann
Name[it]=Edera
Name[ja]=ツタ
Name[la]=Hedera
Name[lu]=Wantergréng
Name[nl]=Klimop
Name[pt]=Hera
Name[ru]=Плющ
Name[sv]=Murgröna
Name[zh]=常春藤
X-KDE-PluginInfo-Author=SSF
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC-BY-SA_v4
X-KDE-PluginInfo-Name=Hedera
X-KDE-PluginInfo-Version=5.20.4
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0

[Wallpaper]
defaultFileSuffix=.png
defaultHeight=2160
defaultWallpaperTheme=Hedera
defaultWidth=5120
